.container{

    display: flex;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}



@keyframes slideInUp {
    from {
      opacity: 0;
      transform: translateX(-600px); /* Start slightly below */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* Slide to the original position */
    }
  }
  
  .heading {
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    color: #333; /* Customize your color */
    animation: slideInUp 2s ease-in-out; /* Animation with 1 second duration */
    text-align: center; /* Center the text */
  }